<div class="container mt-5 mt-20 pt-10">

  <div>
    <p class="fs-4 text-center fw-semibold opacity bg-secondary-subtle p-3">You said "<%= @question %>"</p>
    <p class="fs-4 text-center fw-semibold bg-info-subtle p-3">Coach says, "<%= @answer %>!"</p>
  </div>

  <div class="text-center pt-10">
    <%= link_to "Ask me another question! ⛹️‍♀️", ask_path, class: "btn btn-secondary btn-lg" %>
  </div>

<%# shaun the sheep https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGM2eXg0M3dpcXk5bHA3MmYzZXJzdDlyNnFnOGQ3bzZ1NWswa3Z2YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tIeCLkB8geYtW/giphy.gif %>
<%# sarg get back to work https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYW1rcWc3YnlrY3Zqcmw3cHpxMTExemt6ZjFwb3pyNGZlZGQ1cWVtayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rbph3qmVr9WX6/giphy.gif %>
<%# idc https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExYXd2ZGd0cHVqMmRqMmQ3ZXNkaGhyMXVqb2F5NWRtbHE0cjB1cnNtdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RBYBWi1IT8vDy/giphy.gif %>

</div>
